{# Layouts and macros #}
{% extends "_layout/site" %}
{% import '_macros/imager' as transform %}
{% import '_macros/form' as form %}

{# Set variables #}
{% set code =  craft.app.request.getQueryParam('code') %}
{% set id = craft.app.request.getQueryParam('id') %}

{% if code is empty or id is empty %}
  {% redirect '/' %}
{% endif %}

{% block content %}
<div class="container flex">
  <div class="w-1/4 relative">
    {% include '_commerce/account/partials/accountNav' %}
  </div>
  <div class="w-3/5">
    <h1 class="text-2xl font-bold mb-10">Kies je wachtwoord</h1>

    <form method="post" accept-charset="UTF-8">
      {{ csrfInput() }}
      {{ redirectInput('account') }}
      {% set formUser = user is defined ? user : currentUser  %}
      <input type="hidden" name="action" value="users/set-password">
      <input type="hidden" name="code" value="{{ code }}">
      <input type="hidden" name="id" value="{{ id }}">

      {% if errors is defined %}
        <ul class="text-red-500 mb-6">
          {% for error in errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      <div class="mb-6">
        {{ form.input('', { id: 'newPassword', name: 'newPassword', placeholder: 'Wachtwoord'|t, type: 'password', 'data-equal-to': '#newPasswordConfirm' }) }}
      </div>
      <div class="mb-6">
        {{ form.input('', { id: 'newPasswordConfirm', name: 'newPasswordConfirm', placeholder: 'Bevestig wachtwoord'|t, type: 'password' }) }}
      </div>

      <button type="submit" class="button">{{ 'opslaan'|t }}</button>
    </form>
  </div>
</div>
{% endblock %}
